doctype html
html
  include ../common/_head
  body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->

    .wrapper-works
      header.head-works
        .head-ws__top.clearfix
          .top__social
            ul.ws__social
              li: a(class="ws_socials ws_vk", href="#")
              li: a(class="ws_socials ws_gh", href="#")
              li: a(class="ws_socials ws_in", href="#")
          .top__menu
            .top__menu-icon
              a.menu-icon__link
                img.menu-icon-img(src="../")
            .top__menu-ul
              ul
                li: a(class="menu-link", href="#")
                li: a(class="menu-link", href="#")
                li: a(class="menu-link", href="#")
                li: a(class="menu-link", href="#")
        .head-ws__user
          .wel_info_photo
            img(src="../assets/images/user/my_photo.jpg", class="wel_photo")
          .ws_info_name Виктория Харченко
          .ws_info_text Личный сайт веб разработчика
      section.about-wrap
        .head-arrow
          a(class="arrow_down", href="#")
        .about-content
          .about-content-left
            .left-bg-about
              span.about-left-title Обо мне
            .left-photo
              img(src="../assets/images/user/my_photo.jpg")
            .left-text
              span.left-title Кто я
              .left-info
                p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
          .about-content-right
            .right-title
              .right-info Чем я могу быть вам полезна
            .right-text
              p Больше всего меня привлекет Frontend разработка, но я также знакома и могу решать не сложные задачи на Backend. Но давайте по порядку.
            .right-skills
              .right-skills-front
                span.front Frontend
                ul.sk-frontend
                  li.skills-frontend
                    .skills-name HTML5
                    .skills-svg
                  li.skills-frontend
                    .skills-name CSS3
                    .skills-svg
                  li.skills-frontend
                    .skills-name JavaScript & jQuery
                    .skills-svg
              .right-skills-back
                span.back  Backend
                ul.sk-backend
                  li.skills-backend
                    .skills-name PHP
                    .skills-svg
                  li.skills-backend
                    .skills-name mySQL
                    .skills-svg
                  li.skills-backend
                    .skills-name Node.js & npm
                    .skills-svg
                  li.skills-backend
                    .skills-name Mongo.db
                    .skills-svg
              .right-skills-wf
                span.workflow WorkFlow
                ul.sk-workflow
                  li.skills-frontend
                    .skills-name Git
                    .skills-svg
                  li.skills-frontend
                    .skills-name Gulp
                    .skills-svg
                  li.skills-frontend
                    .skills-name Bower                    .skills-svg
      .section.about-map
      footer.footer
        .footer-up
          .footer-up-menu
            ul
              li.up-menu-li: a(class="up-menu-link", href="#") Мои работы
              li.up-menu-li: a(class="up-menu-link", href="#") Обо мне
              li.up-menu-li: a(class="up-menu-link", href="#") Блог
              li.up-menu-li: a(class="up-menu-link", href="#") Авторизация
          .footer-up-social
            ul
              li.up-soc: a(class="up-socials up-vk", href="#")
              li.up-soc: a(class="up-socials up-gh", href="#")
              li.up-soc: a(class="up-socials up-in", href="#")
        .footer-down
          .down-text-left Я веб-разработчик из Симферополя, и этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool
          .down-text-right © Виктория Харченко | создано с любовью в LoftSchool | 2016











